apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - istio-vs.yaml
  - svc.yaml

images:
  - name: APP_IMAGE_URL
    newName: danieldzr/app-a
    newTag: v1.0.0


