apiVersion: apps/v1
kind: Deployment
metadata:
  name: aap-b1
  labels:
    app: app-b
    version: v2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-b
      version: v2
  template:
    metadata:
      labels:
        app: app-b
        version: v2
    spec:
      containers:
        - name: app-b1
          image: APP_IMAGE_URL
          ports:
            - containerPort: 80
