apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - svc.yaml
  - istio-vs.yaml

nameSuffix: -c

commonLabels:
  app: app_c

images:
  - name: APP_IMAGE_URL
    newName: danieldzr/app-c
    newTag: v1.0.0